@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #F0F8FF; */
  background-color: #636363;
}

option, select {
  @apply text-color-tersier3 font-normal text-sm tracking-wide p-1
}

th, td {
  @apply mx-3 p-2; 
}

td {
  @apply text-center font-normal text-sm text-color-tersier3
}

.dropdown {
  box-shadow: 2px 2px 2px #222222;
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 99;
}